* {
    border: none;
    border-radius: 0;
    font-family: "DejaVu Sans";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.9);
    border-top: 1px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
}

#clock,
#network,
#tray {
    padding: 0 10px;
    margin: 0 4px;
    background-color: transparent;
}

#clock {
    font-weight: bold;
}

#network {
    color: #b48ead;
}

#network.disconnected {
    color: #bf616a;
}
